
/* INTRO */

img {
    max-width:100%;
}
main {
    background-color: #F2EBE6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px 0px;

}
.containerintro{
background-color:#F2EBE6;
width: 100%;
padding: 50px 0px;
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;

}

.main-header {
    width: 100%;
    color: #403E43;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a  {
    color: #403E43;;
}
.menu a:hover  {
    color: #A79A66;
}

.hello {
    color:#A79A66;
    font-weight: bold;
}


.section2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color: #403E43;
    text-align: center;
    padding: 20px 0px;
}

.section3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;

}



/* DESIGN */

.containeruxui{
    background-color: white;
    width: 100%;
    padding: 20px 0px;

}
.uxui{
    display: flex;
    justify-content: center;
    color: #A79A66;
    padding: 0px 0px 100px 0px;

}

.textouxui {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    justify-content:center;
    font-size: 1em;
    font-style: oblique;
    width: 100%;
    padding: 50px 0px;
}
.imagenesuxui {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imguxui1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}
   .imguxui1:hover {
        transition: all 0.17s ease-in-out;
        transform: translateY(5px);
        box-shadow: 5px 5px 20px rgba(202, 202, 202, 0.5);
    }



.imguxui2{
    display: flex;
    justify-content: space-between;
    height: 60%;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;

}
.imguxui2:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px rgba(202, 202, 202, 0.5);
}


.imguxui3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;

}
.imguxui3:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px rgba(202, 202, 202, 0.5);
}


.write {
   color: #A79A66;

    }

.write:hover {
        color:#A79A66;

}

.imginterior {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 50px 0px;
}


/* ILLUSTRATION */

.containerillustration{
    background-color: #D9D0BC;
    width: 100%;
    padding: 20px 0px;
}
.illustration{
    display: flex;
    justify-content: center;
    color: #403E43;

}
.imgillustrationarriba {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0px;

}
.imgillustrationabajo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0px;
}

.textoillustration {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    justify-content:center;
    font-size: 1em;
    font-style: oblique;
    width: 100%;
    padding: 20px 0px;
}

.imgilustracion1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}

   .imgilustracion1:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px #403E43;
    }

.imgilustracion2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}
    .imgilustracion2:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px #403E43;
    }

.imgilustracion3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}

    .imgilustracion3:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px #403E43;
    }

.imgilustracion4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}

   .imgilustracion4:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px #403E43;
    }

.imgilustracion5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}

    .imgilustracion5:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px #403E43;
    }

.imgilustracion6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
}

   .imgilustracion6:hover {
    transition: all 0.17s ease-in-out;
    transform: translateY(5px);
    box-shadow: 5px 5px 20px #403E43;
    }

    .send {
        color: black;

         }

     .send:hover {
             color:black;

     }

/* ABOUT */

.containerabout{
    background-color:#F2EBE6;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}
.about{
    display: flex;
    justify-content: center;
    color: #403E43;


}
.contenidoenabout {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    font-size: 1em;
    padding-left: 25%; padding-right: 25%;
    position: relative;
}



.chocolate {
   position: absolute;
   top: 50%;
   left: 10%;
   transform: translateY(-50%);
}

.cat {
 display: flex;
 justify-content: center;
 padding: 20px 0px;
}

.boat {position: absolute;top: 50%;right: 10%;transform: translateY(-50%);}

/* FOOTER */

.containerfooter {

    background-color: #A79A66;
    padding: 40px 0px;
    width: 100%;

}
.contenidofooterfirma {
display: flex;
width: 100%;
color: white;
justify-content: space-around;
font-size: small;

}

.footer {
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-around;
    font-size: small;
    padding: 20px 0px;
    font-size: medium;
}

.contact {
    text-decoration: none;
    color: white;

}

.contact:hover{
    color: #403E43;
}

.linkedin  {
    text-decoration: none;
    color: white;
}
.linkedin:hover  {
    color: #403E43;
}

.flecha a {
position: fixed;
bottom: 10px;
right: 25px;
font-size:35px;
text-decoration: none;
color: #403E43;
}

.flecha a:hover {
    color: black;
}

.flecha {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.flecha.hide {
    opacity: 0;
    visibility: hidden;
}

/* RELART */

.uxuidesign {
    color:#A79A66;
    font-weight: bold;

}

.uxuidesign a {
    color:#A79A66;
    font-weight: bold;

}
.imgcabecera {

}

.introrelart {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    font-size: 1em;
    padding: 3% 15%;
    position: relative;
}

.researchrelart {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    font-size: 1em;
    padding-left: 15%; padding-right: 15%; padding-top: 4%;
    position: relative;
}

.textoresaltar {
   font-size: larger;
   font-style: italic;

}

.titular {
   color: #A79A66;
   font-size: larger;
   text-align: center;
   justify-content: center;
   position: relative;

}

.titular2 {
    color: #A79A66;
    font-size: large;
    text-align: center;
    justify-content: center;
    position: relative;

 }

 .cristina {
   display: flex;
   width: 100%;
   justify-content: center;
   padding-top: 10px; padding-bottom: 25px;
 }


 /* TELBOZ */

 .uxuidesign {
    color:#A79A66;
    font-weight: bold;

}

.uxuidesign a {
    color:#A79A66;
    font-weight: bold;

}


.introtelboz {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    font-size: 1em;
    padding: 6% 15%;
    position: relative;
}

.textotelboz {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    font-size: 1em;
    padding-left: 15%; padding-right: 15%;

}

.textoresaltar {
   font-size: larger;
   font-style: italic;

}

.titular {
   color: #A79A66;
   font-size: larger;
   text-align: center;
   justify-content: center;
   position: relative;

}

.titular2 {
    color: #A79A66;
    font-size: large;
    text-align: center;
    justify-content: center;
    position: relative;

 }

 .test {
     font-weight:  bold;
 }

 .imginterior {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px 0px;

 }

 /* MUSHNIK */

 .uxuidesign {
    color:#A79A66;
    font-weight: bold;

}

.uxuidesign a {
    color:#A79A66;
    font-weight: bold;

}
.imgcabecera {

}

.intromushnik {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    font-size: 1em;
    padding: 6% 15%;
    position: relative;
}

.researchmushnik {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    font-size: 1em;
    padding-left: 15%; padding-right: 15%;
    position: relative;
}

.textoresaltar {
   font-size: larger;
   font-style: italic;

}

.titular {
   color: #A79A66;
   font-size: larger;
   text-align: center;
   justify-content: center;
   position: relative;

}

.titular2 {
    color: #A79A66;
    font-size: large;
    text-align: center;
    justify-content: center;
    position: relative;

 }

 @media screen and (max-width:1315px){
    .contenidoenabout {
        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 4rem;
    }
    .boat, .chocolate {
        top: auto;
        bottom: 20px;
        transform: none;
    }
 }
 @media screen and (max-width:540px){
    .contenidoenabout {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 3rem;
    }
    .boat,
    .chocolate,
    .cat{
        width: 13%;
    }
    .cat{
        margin-left: auto;
        margin-right: auto;
        padding:0;
    }
 }
