

main {
    background-color:#F2EBE6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* HOME */

.section1 {
 
    
}

.section2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color: #403E43;
    text-align: center;
}


/* DESIGN */
.uxui{
    background-color: white;
    display: flex;
    justify-content: center;

}
.imguxui {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 30%;
}



/* ILLUSTRATION */
.illustration{
    display: flex;
    justify-content: center;

}
.imgillustration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 30%;
}

/* ABOUT */
.contenidoenabout {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: #403E43;
    text-align:left;
    justify-content:space-around;

}
.imgalbabear {
    display: flex;
    justify-content:space-around;

}

