
/* HOME */

main {
    background-color: #F2EBE6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    

}
.containerintro{
background-color:#F2EBE6;  
width: 100%;
padding: 40px 0px;
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}


.section2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color: #403E43;
    text-align: center;
}

.section3 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


/* DESIGN */

.containeruxui{
    background-color: white;
    width: 100%;
    padding: 40px 0px;
    
}
.uxui{
    display: flex;
    justify-content: center;
    color: #A79A66;

}
.imguxui {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 30%;
 
    }




/* ILLUSTRATION */

.containerillustration{
    background-color: #D9D0BC;
    width: 100%;
    padding: 40px 0px;
}
.illustration{
    display: flex;
    justify-content: center;
    color: #403E43;

}
.imgillustrationarriba {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 30%;
}
.imgillustrationabajo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 30%;
}

/* ABOUT */

.containerabout{
    background-color:#F2EBE6; 
    width: 100%;
    height: 100%;
    padding: 40px 0px;
}
.about{
    display: flex;
    justify-content: center;
    color: #403E43;
    

} 
.contenidoenabout {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #403E43;
    text-align:left;
    justify-content:center;
    width: 50%;
    height: 300px;
    font-size: 1em;
    line-height: 1.8em;
    padding-left: 100px; padding-right: 100px;
    height: fit-content;

/* FOOTER */
}
.containerfooter {

    background-color: #A79A66;
    width: 100%;
    height: 50px;
    padding: 40px 0px;

}
.contenidofooter {

color: white;
justify-content: center;
}
